{%load static%}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{%static 'barb/style.css'%}">
    <title>This is a beta webiste!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Noto+Sans&family=Oswald:wght@200&family=Playfair+Display:ital,wght@0,400;1,600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>


<body>

<div id="header">
    <p>RESERVAS</p>
</div>

{%block body%}
{%endblock%}
</body>






</html>